In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import types

In [3]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

24/03/04 21:27:30 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [4]:
spark.version

'3.5.0'

In [5]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz

--2024-03-04 18:55:26--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240304T185526Z&X-Amz-Expires=300&X-Amz-Signature=28e67d0c55b56534a0517c2e16eef2e16434f9d0ba54422e746f5b12797b9837&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-03-04 18:55:26--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240304T185526Z&X-Amz-Expires=300&X-Amz-Signature=28e67d0c55b56534a0517c2e16eef2e16434f9d0ba54422e746f5b12797b9837&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19375751 (18M) [application/octet-stream]
Saving to: ‘fhv_tripdata_2019-10.csv.gz’

fhv_tripdata_2019-1 100%[===================>]  18.48M  8.94MB/s    in 2.1s

2024-03-04 18:55:29 (8.94 MB/s) - ‘fhv_tripdata_2019-10.csv.gz’ saved [19375751/19375751]

In [5]:
!ls -lh fhv_tripdata_2019-10.csv

-rw-r--r--  1 air  staff   114M Dec  2  2022 fhv_tripdata_2019-10.csv

In [6]:
import pandas as pd

data = pd.read_csv('fhv_tripdata_2019-10.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1897493 entries, 0 to 1897492
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   dispatching_base_num    object
 1   pickup_datetime         object
 2   dropOff_datetime        object
 3   PUlocationID            float64
 4   DOlocationID            float64
 5   SR_Flag                 float64
 6   Affiliated_base_number  object
dtypes: float64(3), object(4)
memory usage: 101.3+ MB

In [7]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True)

])

In [54]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhv_tripdata_2019-10.csv')

df = df.repartition(6)

df.write.parquet('data/pq/fhv/2019/10/')

In [8]:
!ls -lh 'data/pq/fhv/2019/10/'

total 74496
-rw-r--r--  1 air  staff     0B Mar  4 19:57 _SUCCESS
-rw-r--r--  1 air  staff   6.0M Mar  4 19:57 part-00000-13077801-4eb2-4e54-aaf2-244cf7ac7997-c000.snappy.parquet
-rw-r--r--  1 air  staff   6.0M Mar  4 19:57 part-00001-13077801-4eb2-4e54-aaf2-244cf7ac7997-c000.snappy.parquet
-rw-r--r--  1 air  staff   6.0M Mar  4 19:57 part-00002-13077801-4eb2-4e54-aaf2-244cf7ac7997-c000.snappy.parquet
-rw-r--r--  1 air  staff   6.0M Mar  4 19:57 part-00003-13077801-4eb2-4e54-aaf2-244cf7ac7997-c000.snappy.parquet
-rw-r--r--  1 air  staff   6.0M Mar  4 19:57 part-00004-13077801-4eb2-4e54-aaf2-244cf7ac7997-c000.snappy.parquet
-rw-r--r--  1 air  staff   6.0M Mar  4 19:57 part-00005-13077801-4eb2-4e54-aaf2-244cf7ac7997-c000.snappy.parquet

In [9]:
df = spark.read.parquet('data/pq/fhv/2019/10/')

**Q3**: How many taxi trips were there on February 15?

In [10]:
from pyspark.sql import functions as F

In [11]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .filter("pickup_date = '2019-10-15'") \
    .count()

62610

In [12]:
df.createOrReplaceTempView('fhv_2019_10')

In [13]:
spark.sql("""
SELECT
    COUNT(1)
FROM 
    fhv_2019_10
WHERE
    to_date(pickup_datetime) = '2019-10-15';
""").show()

+--------+
|count(1)|
+--------+
|   62610|
+--------+

**Q4**: Longest trip for each day

In [15]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropoff_datetime',
 'PULocationID',
 'DOLocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [16]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B03032|2019-10-01 09:39:24|2019-10-01 10:18:58|         264|         231|   NULL|                B03032|
|     B01711         |2019-10-01 05:36:58|2019-10-01 05:57:45|         192|         121|   NULL|       B01711         |
|              B00647|2019-10-01 09:55:44|2019-10-01 10:04:56|         264|         259|   NULL|                B00647|
|              B02293|2019-10-02 11:39:12|2019-10-02 13:25:26|         209|          20|   NULL|                B02293|
|              B02531|2019-10-02 11:00:00|2019-10-02 12:00:00|           7|           7|   NULL|                B02531|
|              B02293|2019-10-02 10:25:20|2019-10-02 12:49:37|          74|          61|   NULL|                B02293|
|              B02550|2019-10-03 09:33:06|2019-10-03 09:56:11|         264|         191|   NULL|                B02550|
|              B02157|2019-10-01 06:45:56|2019-10-01 06:48:32|         264|         138|   NULL|                B02157|
|              B02103|2019-10-02 12:13:41|2019-10-02 13:04:06|         264|         140|   NULL|                B01318|
|              B01340|2019-10-02 18:55:11|2019-10-02 18:57:57|         264|          59|   NULL|                B01340|
|              B01061|2019-10-02 01:21:53|2019-10-02 01:30:05|         264|         213|   NULL|                B01061|
|              B02157|2019-10-02 14:52:39|2019-10-02 16:03:49|         264|          19|   NULL|                B02157|
|              B01984|2019-10-01 10:10:00|2019-10-01 11:05:00|         264|         265|   NULL|                B01984|
|              B02634|2019-10-01 13:24:04|2019-10-01 13:29:17|         264|         241|   NULL|                B02634|
|              B02416|2019-10-01 13:52:00|2019-10-01 15:51:16|        NULL|        NULL|   NULL|                B02416|
|              B02826|2019-10-03 04:56:17|2019-10-03 05:25:29|         264|          76|   NULL|                B02826|
|              B00882|2019-10-02 14:36:56|2019-10-02 14:44:10|         264|         159|   NULL|                B00882|
|              B02509|2019-10-02 14:52:07|2019-10-02 15:08:09|         264|          47|   NULL|                B02877|
|              B01417|2019-10-03 15:02:41|2019-10-03 15:15:11|         264|         264|   NULL|                B01417|
|              B00860|2019-10-02 09:39:55|2019-10-02 09:55:13|         264|          32|   NULL|                B00860|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [17]:
df \
    .withColumn('duration', (df.dropoff_datetime.cast('long') - df.pickup_datetime.cast('long'))/3600) \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .groupBy('pickup_date') \
    .max('duration') \
    .orderBy('max(duration)', ascending=False) \
    .limit(5) \
    .show()

+-----------+-----------------+
|pickup_date|    max(duration)|
+-----------+-----------------+
| 2019-10-28|         631152.5|
| 2019-10-11|         631152.5|
| 2019-10-31|87672.44083333333|
| 2019-10-01|70128.02805555555|
| 2019-10-17|           8794.0|
+-----------+-----------------+

In [18]:
spark.sql("""
SELECT
    to_date(pickup_datetime) AS pickup_date,
    MAX((CAST(dropoff_datetime AS LONG) - CAST(pickup_datetime AS LONG)) / 3600) AS duration
FROM 
    fhv_2019_10
GROUP BY
    1
ORDER BY
    2 DESC
LIMIT 10;
""").show()

+-----------+------------------+
|pickup_date|          duration|
+-----------+------------------+
| 2019-10-28|          631152.5|
| 2019-10-11|          631152.5|
| 2019-10-31| 87672.44083333333|
| 2019-10-01| 70128.02805555555|
| 2019-10-17|            8794.0|
| 2019-10-26| 8785.166666666666|
| 2019-10-30|1464.5344444444445|
| 2019-10-25|1057.8266666666666|
| 2019-10-02| 770.2313888888889|
| 2019-10-23| 746.6166666666667|
+-----------+------------------+

**Q5**: Most frequent `dispatching_base_num`

How many stages this spark job has?

In [19]:
spark.sql("""
SELECT
    dispatching_base_num,
    COUNT(1)
FROM 
    fhv_2019_10
GROUP BY
    1
ORDER BY
    2 DESC
LIMIT 5;
""").show()

+--------------------+--------+
|dispatching_base_num|count(1)|
+--------------------+--------+
|              B01145|   47548|
|              B00256|   43234|
|              B00856|   36778|
|              B03016|   34985|
|              B01239|   33586|
+--------------------+--------+

In [20]:
df \
    .groupBy('dispatching_base_num') \
        .count() \
    .orderBy('count', ascending=False) \
    .limit(5) \
    .show()

+--------------------+-----+
|dispatching_base_num|count|
+--------------------+-----+
|              B01145|47548|
|              B00256|43234|
|              B00856|36778|
|              B03016|34985|
|              B01239|33586|
+--------------------+-----+

In [82]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2024-03-04 20:32:43--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240304T203243Z&X-Amz-Expires=300&X-Amz-Signature=82332eda1fdd2416865cf50a38d4e08b9d08a1f33b352405038db0a18ec96a65&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2024-03-04 20:32:43--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240304T203243Z&X-Amz-Expires=300&X-Amz-Signature=82332eda1fdd2416865cf50a38d4e08b9d08a1f33b352405038db0a18ec96a65&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-03-04 20:32:44 (38.2 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

**Q6**: Most common locations pair

In [27]:
df_zones = spark.read.option("header", "true"). \
csv('taxi_zone_lookup.csv')

In [28]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [29]:
df_zones.columns

['LocationID', 'Borough', 'Zone', 'service_zone']

In [30]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropoff_datetime',
 'PULocationID',
 'DOLocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [31]:
df_zones.registerTempTable('zones')

/usr/local/Cellar/apache-spark/3.5.0/libexec/python/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [36]:
spark.sql("""
SELECT
    CONCAT(pul.Zone, ' / ', dol.Zone) AS pu_do_pair,
    COUNT(1)
FROM
    fhv_2019_10 fhv 
LEFT JOIN zones pul ON fhv.PULocationID = pul.LocationID
LEFT JOIN zones dol ON fhv.DOLocationID = dol.LocationID
GROUP BY 
    1
ORDER BY
    2 DESC
LIMIT 5;
""").show()

+--------------------+--------+
|          pu_do_pair|count(1)|
+--------------------+--------+
|Corona / Morrisan...|       1|
|Two Bridges/Sewar...|       1|
|Stuyvesant Height...|       1|
|Midtown South / S...|       1|
|Laurelton / Starr...|       1|
+--------------------+--------+

In [49]:
spark.sql("""
SELECT pul.Zone, COUNT(*)
FROM
    fhv_2019_10 fhv 
LEFT JOIN zones pul ON fhv.PULocationID = pul.LocationID
LEFT JOIN zones dol ON fhv.DOLocationID = dol.LocationID
GROUP BY 1
ORDER BY 2 ASC;
""").show()

+--------------------+--------+
|                Zone|count(1)|
+--------------------+--------+
|         Jamaica Bay|       1|
|Governor's Island...|       2|
| Green-Wood Cemetery|       5|
|       Broad Channel|       8|
|     Highbridge Park|      14|
|        Battery Park|      15|
|Saint Michaels Ce...|      23|
|Breezy Point/Fort...|      25|
|Marine Park/Floyd...|      26|
|        Astoria Park|      29|
|    Inwood Hill Park|      39|
|       Willets Point|      47|
|Forest Park/Highl...|      53|
|  Brooklyn Navy Yard|      57|
|        Crotona Park|      62|
|        Country Club|      77|
|     Freshkills Park|      89|
|       Prospect Park|      98|
|     Columbia Street|     105|
|  South Williamsburg|     110|
+--------------------+--------+
only showing top 20 rows